@model UsuarioModel
@{
    ViewData["Title"] = "Confirmacão para apagar usuário";
}

<div class="text-center">
    <h3>
        Realmente deseja apagar o usuário (@Model.Name)?
    </h3>
</div>
<div class="text-center">
    <a class="btn btn-outline-success" role="button" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar</a>
    <a class="btn btn-outline-danger" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
</div>
