@model ContatoModel
@{
    ViewData["Title"] = "Conformacão apagar contato";
}

<div class="text-center">
    <h3>
        Realmente deseja apagar o contato (@Model.Name)?
    </h3>
</div>
<div class="text-center">
    <a class="btn btn-outline-success" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar</a>
    <a class="btn btn-outline-danger" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
</div>
